<div class="!flex flex-col flex-auto min-w-0 relative bg-white">
  <div class="relative border-b-2 flex flex-row justify-between items-center p-3">
    <span class="material-icons p-2 hover:bg-gray-200 rounded-full" [routerLink]="['../']" (click)="CloseDrawer()">
      arrow_back
    </span>
    <div class="text-xl">{{Detail.Title}}</div>
    <div>
      <button mat-raised-button color="primary" (click)="Update(Detail)">Cập Nhật</button>
    </div>
  </div>
  <div class="relative h-full w-full overflow-auto flex flex-col space-y-2 justify-between p-4 bg-gray-100">
    <div class="flex flex-col space-y-3 p-4 blog tintuc-sukien">
      <div class="flex flex-row space-x-3 w-full">
        <div class="flex flex-row space-x-3 p-3 rounded-lg shadow bg-white">
          <ng-container *ngIf="GetImageUrl(Detail.Hinhanh,'hinhchinh')!=''; else elseTemplatehinh1">
            <div class="p-4 group relative">
              <img [src]="GetImageUrl(Detail.Hinhanh,'hinhchinh')" class="w-40 mx-auto rounded-md" />
              <div
                class="group-hover:block rounded-md hidden absolute inset-0 items-center justify-center bg-black opacity-10"
                (click)="onRemove(Detail.Hinhanh,'hinhchinh')">
                <span class="material-icons text-white flex items-center justify-center h-full">
                  cancel
                </span>
              </div>
            </div>
          </ng-container>
          <ng-template #elseTemplatehinh1>
            <ngx-dropzone (change)="onSelect($event,'hinhchinh')" [multiple]="false"
              class="flex flex-col spacey-3 !h-full">
              <ngx-dropzone-label>Chọn File</ngx-dropzone-label>
            </ngx-dropzone>
          </ng-template>
        </div>
        <div class="w-full flex flex-col space-y-2 rounded-lg shadow bg-white p-3">
          <div class="grid grid-cols-3 gap-4 text-sm">
            <mat-form-field appearance="outline">
              <mat-label>Mã Khách hàng</mat-label>
              <input [(ngModel)]="Detail.MaHV" [ngModelOptions]="{standalone: true}" matInput type="text"
                class="w-full" placeholder="Mã Khách hàng" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Họ Tên</mat-label>
              <input [(ngModel)]="Detail.Hoten" [ngModelOptions]="{standalone: true}" matInput type="text" class="w-full"
                placeholder="Họ Tên" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Số Điện Thoại</mat-label>
              <input [(ngModel)]="Detail.SDT" [ngModelOptions]="{standalone: true}" matInput type="text" class="w-full"
                placeholder="Số Điện Thoại" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input [(ngModel)]="Detail.Email" [ngModelOptions]="{standalone: true}" matInput type="text" class="w-full"
                placeholder="Tiêu Đề" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Ngày Sinh</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="Detail.Ngaysinh" [ngModelOptions]="{standalone: true}">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Giới Tính</mat-label>
              <mat-select [(ngModel)]="Detail.Gioitinh" [ngModelOptions]="{standalone: true}">
                <mat-option value="0">Nam</mat-option>
                <mat-option value="1">Nữ</mat-option>
                <mat-option value="2">LGBT</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <editor [apiKey]="APITINYMCE" [(ngModel)]="Detail.Mota" [ngModelOptions]="{standalone: true}"
            [init]="configTiny"></editor>
        </div>
      </div>
      <!-- <mat-tab-group fitInkBarToContent #tabGroup (selectedTabChange)="handleTabChange(event)" class="bg-white">
        <mat-tab label="Thông Tin Sản Phẩm">
          <div class="flex flex-row space-x-2">
            <div>
              
              <ng-container *ngIf="CheckValue(Detail.Hinhanh,'hinhthongtin'); else elseTemplatehinhthongtin">
                   <div class="p-4 group relative">
                     <img [src]="GetImage(Detail.Hinhanh.hinhthongtin.spath)" class="w-40 mx-auto rounded-md" />
                     <div
                       class="group-hover:block rounded-md hidden absolute inset-0 items-center justify-center bg-black opacity-10"
                       (click)="onRemove(Detail.Hinhanh,'hinhthongtin')">
                       <span class="material-icons text-white flex items-center justify-center h-full">
                         cancel
                       </span>
                     </div>
                   </div>
                 </ng-container>
                 <ng-template #elseTemplatehinhthongtin>
                   <ngx-dropzone (change)="onSelect(event,'hinhthongtin')" [multiple]="false" class="flex flex-col spacey-3 !h-full">
                     <ngx-dropzone-label>Chọn File</ngx-dropzone-label>
                   </ngx-dropzone>
                 </ng-template>
            </div>
            <div>         
             <editor [apiKey]="APITINYMCE" [(ngModel)]="Detail.Noidung.Thongtin" [ngModelOptions]="{standalone: true}"
              [init]="configTiny1" *ngIf="activeTabIndex===0"></editor>
            <textarea hidden matInput [(ngModel)]="Detail.Noidung.Thongtin"
              [ngModelOptions]="{standalone: true}"></textarea>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Cách Sử Dụng">
          <editor [apiKey]="APITINYMCE" [(ngModel)]="Detail.Noidung.Sudung" [ngModelOptions]="{standalone: true}"
            [init]="configTiny1" *ngIf="activeTabIndex===1"></editor>
          <textarea hidden matInput [(ngModel)]="Detail.Noidung.Sudung"
            [ngModelOptions]="{standalone: true}"></textarea>
        </mat-tab>
        <mat-tab label="Thành Phần">
          <editor [apiKey]="APITINYMCE" [(ngModel)]="Detail.Noidung.Thanhphan" [ngModelOptions]="{standalone: true}"
            [init]="configTiny1" *ngIf="activeTabIndex===2"></editor>
          <textarea hidden matInput [(ngModel)]="Detail.Noidung.Thanhphan"
            [ngModelOptions]="{standalone: true}"></textarea>
        </mat-tab>
      </mat-tab-group> -->
    </div>
  </div>