.product-01::before{
    content: '';
    position: absolute;
    width: 60%;
    left: 0;
    height: 100%;
    background: #f4fafe;
}
.product-02::before{
    content: '';
    position: absolute;
    width: 60%;
    right: 0;
    height: 100%;
    background: white;
}