.container {
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  @media only screen and (max-width: 680px) {
    max-width: 600px;
  }
  @media only screen and (max-width: 500px) {
    max-width: 450px;
  }
  @media only screen and (max-width: 320px) {
    max-width: 300px;
  }
}
.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mat-expansion-panel-body {
  padding: 0 !important;
}
.image-product {
  height: 470px;
  @media screen and (max-width: 1024px) {
    height: 100%;
  }
}
