<div class="lg:pt-10 pt-0">
    <div class="container mx-auto w-full flex space-x-10">
        <div class="w-1/2" data-aos="fade-up" data-aos-duration="1000">
            <div class="space-y-3">
                <img src="/assets/vehderma/hinh2.jpg" alt="" class="w-full">
            </div>
        </div>
        <div class="w-1/2 pt-14">
            <h3 class="font-bold text-3xl uppercase leading-none" data-aos="fade-up" data-aos-duration="2000">
                Vẻ đẹp cốt lõi bắt nguồn từ sự phù hợp và hài hòa với chính bạn
            </h3>
            <div data-aos="fade-up" data-aos-duration="2000" class="pt-4">
                <p class="text-justify">
                    Vẻ đẹp trong cuộc sống là thứ chúng ta khao khát tìm kiếm và mong muốn sở hữu,
                    cuộc sống hiện đại và tiện nghi chúng ta lại càng khao khát hơn sự sở hữu ấy,
                    trong muôn vàn lựa chọn, thật khó để nhận ra điều gì thực sự phù hợp với bản thân,
                    và không hẳn những thứ tốt nhất đã là thứ phù hợp nhất.
                    <br>
                    <br>
                    Vì vẻ đẹp trong cuộc sống cốt lõi là sự hài hoà và vẻ đẹp nằm
                    ở sự phù hợp với những giá trị mà chúng ta đang hằng ngày kiến tạo.
                    Khi mọi giá trị trở nên phù hợp với nhau ta sẽ thấy một chỉnh thể với vẻ đẹp hài hòa nhất.
                    <br>
                    <br>
                    Từ sâu bên trong, Làn Da cần những sự quan tâm nhỏ nhất, những chăm sóc nhỏ
                    nhất mỗi ngày để được dung dưỡng, tôn tạo, và phục hồi vẻ tự nhiên vốn có.
                    <br>
                    <br>
                    Xuất phát từ những nỗi trăn trở về làn da phụ nữ Việt, H.Derma hiểu rằng làn da mang trong mình sứ mệnh thể hiện vẻ đẹp của mỗi người và vẻ đẹp ấy mang một giá trị riêng và một bản sắc riêng mà không quy chuẩn nào có thể áp đặt hay mặc định lên vẻ đẹp đó.
                    <br>
                    <br>
                    Thấu hiểu điều đó, H.Derma luôn đồng hành cùng bạn trên con đường khai phá vẻ đẹp riêng của chính bạn.
                </p>
            </div>
        </div>
    </div>
    <!--<div class="mx-auto box w-full relative mobile items-center">
        <div class="w-full">
            <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow01-mo-bg.jpg" alt="" class="w-full">
        </div>
        <div class="absolute top-0 lg:pt-20 pt-5 px-5 ">
            <h3 class="font-bold leading-8 text-white">
                LANEIGE mang đến cho bạn làn da tỏa sáng và sự tự tin trong
                cuộc sống
            </h3>
            <p class="text-white">
                LANEIGE tôn vinh sự đa dạng với niềm tin rằng mọi cô gái
                đều có thể tỏa sáng bởi ánh sáng và chính vẻ đẹp tiềm ẩn bên
                trong họ.
                <br>
                <br>
                LANEIGE đã quan sát chặt chẽ những gì khách hàng mong
                muốn, để giúp họ không chỉ có một làn da cân đối tươi trẻ, mà
                còn góp phần thúc đẩy một lối sống cân bằng, lành mạnh.
                <br>
                <br>
                Bất kể cuộc sống hàng ngày của bạn có bận rộn đến đâu —
                hay
                làn da của bạn có trở nên như thế nào — LANEIGE luôn ở
                bên
                cạnh để giúp bạn tự tin tiến về phía trước.
                <br>
                <br>
                Bạn sẽ luôn rạng rỡ và xinh đẹp theo cách riêng cùng với
                LANEIGE.
            </p>
        </div>
    </div>-->
</div>
