<div class="my-2 flex flex-row space-x-2 justify-center">
  <div class="text-lg text-center">Nhân Viên</div>
  <div class="text-xl text-center font-bold">{{user.Hoten}}</div>
</div>
<!-- <editor [apiKey]="APITINYMCE" [init]="{ plugins: 'lists link image table code help wordcount' }"></editor> -->
<div class="flex flex-wrap justify-between p-4">
  <!-- <input (keyup)="applyFilter($event)" placeholder="Tìm Kiếm" #input class="w-full appearance-none rounded-sm border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"> -->
  <div class="flex justify-between items-center space-x-2 basis-{{item.width}} p-2" *ngFor="let item of nhanvienform">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{item.Tieude}}</mat-label>
      <input matInput placeholder="{{item.Tieude}}" class="w-full">
      <span matPrefix class="material-icons mr-3">{{item.icon}}</span>
    </mat-form-field>
    <!-- <div class="flex flex-col text-center">
      <span class="material-icons">{{item.icon}}</span>
      <span class="whitespace-nowrap text-sm text-gray-600">{{item.Tieude}}</span>
    </div> -->
  </div>
</div>
