<div class="container mx-auto my-5">
    <h1 class="text-3xl font-bold my-5">Danh sách yêu thích</h1>
    <div class="grid grid-cols-4 gap-10">
        <div class="space-y-3 relative" *ngFor="let item of products">
            <a routerLink="/chi-tiet/{{item.Slug}}">
                <div class="rounded-xl">
                    <img src="https://drive.google.com/uc?id={{ item.Image }}" class="w-full h-full" alt="" />
                </div>
                <p class="text-purple-500 font-bold text-md des" routerLink="chi-tiet/{{item.Slug}}">{{ item.Tieude}}
                </p>
                <div class="flex">
                    <p class="text-gray-500 text-md">
                        {{ item.GiaSale | currency: "VND" }}
                    </p>
                </div>
            </a>
            <div class="bg-orange-500 mt-2 p-2 rounded-2xl text-white font-bold text-center" (click)="AddCart(item)">
                Đặt hàng ngay
            </div>
            <div class="absolute -right-1 bg-black rounded-full px-1 -top-1 cursor-pointer" (click)="removeItem(item)">
                <span class="material-icons text-white text-sm"> close </span>
            </div>
        </div>
        <div *ngIf="products?.length === 0">
            <p class="text-gray-500">Không có sản phẩm</p>
        </div>
    </div>
</div>