<div class="flex flex-0 flex-row h-full">
    <mat-drawer-container class="w-full bg-white">
      <mat-drawer #drawer mode="side" opened class="{{FScreen?'w-full':'w-3/5'}} transition delay-200"  position="end">
       <div class="absolute top-2 left-2 z-10" (click)="FScreen =!FScreen">
        <span class="material-icons">{{FScreen?'fullscreen_exit':'fullscreen'}}</span>
      </div>
      <!-- <button mat-raised-button (click)="Caphnhatall()">Cập Nhật All</button> -->
        <router-outlet></router-outlet>

      </mat-drawer>
      <mat-drawer-content>
        <div class="my-2 text-center font-bold text-xl">Danh Sách Nhân Viên</div>
        <div class="flex flex-row space-x-3 mb-3 items-center min-h-[50px] justify-center">
          <span class="material-icons" (click)="OpenDialog(myDialog)" matTooltip="Tạo Mới User">
            add_circle
          </span>
          <span class="material-icons" (click)="ws=!ws" matTooltip="Tìm Kiếm">
            search
          </span>
          <div [hidden]="!ws" class="w-full">
            <input (keyup)="applyFilter($event)" placeholder="Tìm Kiếm" #input
              class="w-full appearance-none rounded-sm border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
          </div>
          <span class="material-icons" matTooltip="Tùy Chỉnh">
            tune
          </span>
          <span class="material-icons" matTooltip="Lấy Mẫu">
            file_download
            </span>
            <span class="material-icons" matTooltip="Upload File">
              file_upload
             </span>
          <!-- <span class="material-icons" [routerLink]="['cauhinh']" routerLinkActive="text-gray-900" >
            settings
          </span> -->
        </div>

        <table mat-table [dataSource]="dataSource" matSort class="w-full">
          <ng-container matColumnDef="avatar">
            <th mat-header-cell *matHeaderCellDef> Avatar </th>
            <td mat-cell *matCellDef="let row" (click)="drawer.open()" [routerLink]="['user',row.id]">
              {{row.avatar}}
              <span class="material-icons">
                account_circle
              </span>
               </td>
               <td mat-footer-cell *matFooterCellDef colspan="4">
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize="20"></mat-paginator>
              </td>
          </ng-container>
          <ng-container matColumnDef="Hoten">
            <th mat-header-cell *matHeaderCellDef> Họ Tên </th>
            <td mat-cell *matCellDef="let row" (click)="drawer.open()" [routerLink]="['user',row.id]">
              <div class="flex flex-col py-2">
               <span> {{row.Hoten}}</span>
               <span class="text-xs italic">{{row.SDT}}</span>
               <span class="text-xs text-blue-700"> {{row.email}}</span>
              </div>

               </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="Role">
            <th mat-header-cell *matHeaderCellDef> Quyền </th>
            <td mat-cell *matCellDef="let row" (click)="drawer.open()" [routerLink]="['phanquyen',row.id]">
              <span class="material-icons p-2 rounded-md hover:bg-blue-200">
                settings
              </span>
                <!-- <span class="px-3 py-2 rounded-md bg-slate-200 hover:bg-slate-400">Role</span> -->
              </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="Trangthai">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let row" (click)="StatusUser(row)">
              <ng-container *ngIf="row.Trangthai==0; else elseTemplate">
                <span class="material-icons text-green-500">
                  check_circle
                  </span>
              </ng-container>
              <ng-template #elseTemplate>
                <span class="material-icons text-red-500">
                  cancel
                  </span>
              </ng-template></td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Active </th>
            <td mat-cell *matCellDef="let row" (click)="StatusUser(row)">
              <ng-container *ngIf="row.Status==true; else elseTemplate">
                <span class="material-icons text-green-500">
                  check_circle
                  </span>
              </ng-container>
              <ng-template #elseTemplate>
                <span class="material-icons text-red-500">
                  cancel
                  </span>
              </ng-template></td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columnNames;" class="hover:bg-slate-100"></tr>
          <tr mat-header-row *matFooterRowDef="columnNames; sticky: true"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
<!--
        <table mat-table [dataSource]="dataSource" matSort class="w-full">
          <ng-container *ngFor="let columnName of columnNames; let i = index" [matColumnDef]="columnName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ colTieude[columnName] }}
            </th>
            <ng-container *ngIf="columnName=='Role'; else elseTemplate1">
              <td mat-cell *matCellDef="let row" (click)="drawer.open()" [routerLink]="['phanquyen',row.id]" routerLinkActive="text-gray-900">
                  <span class="px-3 py-2 rounded-md bg-slate-200 hover:bg-slate-400">Role</span>
                <span class="material-icons" *ngIf="i==0">
                  account_circle
                </span>
              </td>
            </ng-container>
            <ng-template #elseTemplate1>
              <td mat-cell *matCellDef="let row" (click)="drawer.open()" [routerLink]="['user',row.id]" routerLinkActive="text-gray-900">
                {{ row[columnName] }}
                <span class="material-icons" *ngIf="i==0">
                  account_circle
                </span>
              </td>
            </ng-template>
            <ng-container *ngIf="i==0; else elseTemplate">
              <td mat-footer-cell *matFooterCellDef colspan="4">
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize="20"></mat-paginator>
              </td>
            </ng-container>
            <ng-template #elseTemplate>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-template>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columnNames;" class="hover:bg-slate-200"></tr>
          <tr mat-header-row *matFooterRowDef="columnNames; sticky: true"></tr>
        </table> -->
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  <ng-template #myDialog>
    <h2 matDialogTitle>Thêm User </h2>
    <mat-dialog-content class="min-w-[400px]">
      <div class="flex flex-col space-y-3">
      <mat-form-field appearance="outline">
        <mat-label>Họ Và Tên</mat-label>
        <input [(ngModel)]="User.Hoten" matInput placeholder="Vui Lòng Nhập Tiêu Đề">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Số Điện Thoại</mat-label>
        <input [(ngModel)]="User.SDT" matInput placeholder="Vui Lòng Nhập Tiêu Đề">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="User.email" matInput placeholder="Vui Lòng Nhập Mô Tả">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mật Khẩu</mat-label>
        <input [(ngModel)]="User.password" matInput placeholder="Vui Lòng Nhập Mô Tả">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="CreateUser(User)">Tạo Mới</button>
    </div>
    </mat-dialog-content>
  </ng-template>
