<div class="relative pt-20">
    <div class="w-full h-[100vh]">
    <!-- effect -->
    <!-- motion1 -->
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_circle_light.png" alt="" class="absolute left-0 top-0 motion1">
    <!-- motion1 -->
    <!-- motion2 -->
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_circle_01.png" alt="" class="z-10 circle1 absolute h-[21.406vw] right-[25vw] bottom-[15vh]">
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_circle_02.png" alt="" class="z-10 circle2 absolute h-[21.406vw] right-[25vw] bottom-[15vh]">
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_circle_03.png" alt="" class="z-10 circle3 absolute h-[21.406vw] right-[25vw] bottom-[15vh]">
    <!-- motion2 -->
    <!-- motion3 -->
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_light_01.png" alt="" class="z-10 absolute light1">
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_light_02.png" alt="" class="z-10 absolute light2">
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_light_03.png" alt="" class="z-10 absolute light3">
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_light_04.png" alt="" class="z-10 absolute light4">
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_light_05.png" alt="" class="z-10 absolute light5">
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_light_06.png" alt="" class="z-10 absolute light6">
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_light_07.png" alt="" class="z-10 absolute light7">
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_light_08.png" alt="" class="z-10 absolute light8">
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_light_09.png" alt="" class="z-10 absolute light9">
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_light_10.png" alt="" class="z-10 absolute light10">
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_motion_light_11.png" alt="" class="z-10 absolute light11">
    <!-- motion3 -->
    <!-- effect -->
    <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/img_20211215_visual-pc.jpg" class="w-full h-full" alt="">
    </div>
    <div data-aos="fade-up" data-aos-duration="2000" class="absolute top-1/2 left-1/2" style="transform: translate3d(-50%,-50%,0);">
        <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow06-holo.png" alt="" class="w-[80%] h-full">  
    </div>  
    <p data-aos="fade-up" data-aos-duration="2000" class="absolute lg:text-base lg:w-full w-[90%] text-xs text-center top-1/2 left-1/2 text-white" style="transform: translate3d(-50%,-50%,0);">
        Con người hòa hợp với tự nhiên, nguyên liệu phù hợp với công nghệ, <br> sản phẩm phù hợp với con người, con người phù hợp với cái đẹp nội tại của bản thân.
    </p>
    <div data-aos="fade-up" data-aos-duration="2000" class="absolute top-[60%] left-1/2 font-bold text-white" style="transform: translate3d(-50%,-50%,0);">
        H-derma vì vẻ đẹp là sự phù hợp.
    </div>
</div>