<div class="container text-center lg:pt-40 pt-20">
    <h3 data-aos="fade-up" data-aos-duration="2000" class="lg:text-4xl text-2xl uppercase inline-block relative text-center font-bold">LANEIGE LIFE STYLE SCENE</h3>
    <p data-aos="fade-up" data-aos-duration="3000" class="text-center text-xl mt-5">#LIVE MY OWN LIFE</p>
    <div data-aos="fade-up" data-aos-duration="2000" class="mt-10 w-4/5 mx-auto">
        <video id="glow-video" muted="muted" loop="" playsinline="" autoplay="autoplay">
            <source src="https://www.laneige.com.vn/media/wysiwyg/laneige/video/glow-video.mp4" type="video/mp4">
        </video>
    </div>
</div>
