
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content flex flex-col justify-center">
    <div class="xl:w-10/12 h-full m-auto">
      <div class="block bg-white shadow-lg rounded-lg">
        <div class="lg:flex lg:flex-wrap g-0 p-4">
          <div class="grid grid-cols-2 gap-4 w-full">
            <div class="flex flex-row w-full">
              <div class="border flex flex-col p-3 rounded-md w-full">
                <div class="font-bold text-lg">Thông Tin</div>
                <div>
                  <img src="https://hrm.tazagroup.vn/assets/shared/img/LargeTile.scale-200.png" alt="logo"
                    class="w-48 h-48 rounded-full">
                </div>
                <div class="flex flex-row space-x-2">
                  <span>Họ Tên : </span>
                  <span class="font-bold">Trần Thị A</span>
                </div>
                <div class="flex flex-row space-x-2">
                  <span>Địa Chỉ : </span>
                  <span class="font-bold">Hồ Chí Minh</span>
                </div>
                <div class="flex flex-row space-x-2">
                  <span>Email : </span>
                  <span class="font-bold">email@gmail.com</span>
                </div>
                <div class="flex flex-row space-x-2">
                  <span>Số Điện Thoại : </span>
                  <span class="font-bold">0987654321</span>
                </div>
              </div>
            </div>
            <div class="flex flex-row w-full">
              <div class="border flex flex-col p-3 rounded-md w-full space-y-4">
                <div class="flex flex-row justify-between">
                  <div class="font-bold text-lg">Tích Điểm</div>
                  <div class="flex flex-col justify-between">
                    <div class="flex flex-row space-x-3 items-center">
                      <span class="material-icons text-blue-400">diamond </span>
                      <span class="font-bold">Kim Cương</span>
                    </div>
                    <div class="flex flex-row space-x-3 items-center">
                      <span class="material-icons text-yellow-500">stars</span>
                      <span class="font-bold">1200 điểm</span>
                    </div>
                    <div class="flex flex-row space-x-3 items-center">
                      <span class="material-icons text-green-500">confirmation_number</span>
                      <span class="font-bold">10%</span>
                    </div>
                  </div>
                </div>
                <div class="grid grid-cols-2 gap-3">
                  <div class="flex flex-col border p-3 rounded-lg space-y-3 hover:bg-gray-200" (click)="drawer.toggle()">
                    <div class="font-bold">Doanh Số Cá Nhân</div>
                    <div class="flex flex-row items-center">
                      <span class="material-icons text-blue-500">paid</span>
                      <span>10.000.000đ</span>
                    </div>
                    <div class="flex flex-row items-center">
                      <span class="material-icons text-yellow-500">stars</span>
                      <span>100 điểm</span>
                    </div>
                  </div>
                  <div class="flex flex-col border p-3 rounded-lg space-y-3 hover:bg-gray-200" routerLink="../soon">
                    <div class="font-bold">Doanh Số Giới Thiệu</div>
                    <div class="flex flex-row items-center">
                      <span class="material-icons text-blue-500">paid</span>
                      <span>10.000.000đ</span>
                    </div>
                    <div class="flex flex-row items-center">
                      <span class="material-icons text-yellow-500">stars</span>
                      <span>100 điểm</span>
                    </div>
                  </div>
                  <div class="flex flex-col border p-3 rounded-lg space-y-3 hover:bg-gray-200" routerLink="../soon">
                    <div class="font-bold">Contect</div>
                    <div class="flex flex-row items-center">
                      <span class="material-icons text-blue-500">paid</span>
                      <span>10.000.000đ</span>
                    </div>
                    <div class="flex flex-row items-center">
                      <span class="material-icons text-yellow-500">stars</span>
                      <span>100 điểm</span>
                    </div>
                  </div>
                  <div class="flex flex-col border p-3 rounded-lg space-y-3 hover:bg-gray-200" routerLink="../soon">
                    <div class="font-bold">Nhiệm Vụ</div>
                    <div class="flex flex-row items-center">
                      <span class="material-icons text-green-500">check_circle</span>
                      <span>10 nhiệm vụ</span>
                    </div>
                    <div class="flex flex-row items-center">
                      <span class="material-icons text-yellow-500">stars</span>
                      <span>500 điểm</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="flex flex-row w-full">
              <div class="border flex flex-col p-3 rounded-md w-full space-y-4">
                <div class="flex flex-row justify-between">
                  <div class="font-bold text-lg">Giới Thiệu</div>
                  <div class="flex flex-row space-x-4" routerLink="../gioithieu">
                    <div class="flex flex-col items-center" matTooltip="Người Giới Thiệu">
                      <span class="material-icons">
                        account_circle
                      </span>
                      <span class="font-bold">20</span>
                    </div>
                    <div class="flex flex-col items-center" matTooltip="Level">
                      <span class="material-icons">
                        account_tree
                      </span>
                      <span class="font-bold">3</span>
                    </div>
                  </div>

                </div>
                <div class="flex flex-col justify-between space-y-3">
                  <div class="text-center bg-blue-500 text-white rounded-lg p-2">Cấp 1</div>
                  <div class="flex flex-row justify-between">
                    <div class="flex flex-col items-center">
                      <span class="material-icons">account_circle</span>
                      <span class="font-bold">Nguyễn Văn A</span>
                      <div class="flex flex-row items-center">
                        <span class="material-icons text-blue-500">paid</span>
                        <span>10.000.000đ</span>
                      </div>
                    </div>
                    <div class="flex flex-col items-center">
                      <span class="material-icons">account_circle</span>
                      <span class="font-bold">Nguyễn Thị B</span>
                      <div class="flex flex-row items-center">
                        <span class="material-icons text-blue-500">paid</span>
                        <span>10.000.000đ</span>
                      </div>
                    </div>
                    <div class="flex flex-col items-center">
                      <span class="material-icons">account_circle</span>
                      <span class="font-bold">Trần Văn C</span>
                      <div class="flex flex-row items-center">
                        <span class="material-icons text-blue-500">paid</span>
                        <span>10.000.000đ</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col justify-between space-y-3">
                  <div class="text-center bg-blue-500 text-white rounded-lg p-2">Cấp 2</div>
                  <div class="flex flex-row justify-between">
                    <div class="flex flex-col items-center">
                      <span class="material-icons">account_circle</span>
                      <span class="font-bold">Phạm Minh D</span>
                      <div class="flex flex-row items-center">
                        <span class="material-icons text-blue-500">paid</span>
                        <span>8.000.000đ</span>
                      </div>
                    </div>
                    <div class="flex flex-col items-center">
                      <span class="material-icons">account_circle</span>
                      <span class="font-bold">Huỳnh E</span>
                      <div class="flex flex-row items-center">
                        <span class="material-icons text-blue-500">paid</span>
                        <span>9.000.000đ</span>
                      </div>
                    </div>
                    <div class="flex flex-col items-center">
                      <span class="material-icons">account_circle</span>
                      <span class="font-bold">Lê F</span>
                      <div class="flex flex-row items-center">
                        <span class="material-icons text-blue-500">paid</span>
                        <span>10.000.000đ</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="flex flex-row w-full">
              <div class="border flex flex-col p-3 rounded-md w-full space-y-4">
                <div class="flex flex-row justify-between">
                  <div class="font-bold text-lg">Đổi Quà</div>
                  <div class="font-bold text-lg hover:bg-gray-200 rounded-lg p-3" routerLink="../soon">
                    <span class="material-icons">
                      history
                    </span>
                  </div>
                </div>

                <mat-stepper orientation="vertical">
                  <mat-step label="Mốc 1 - Đạt 100 Điểm" state="gift1">
                    <div class="flex flex-row justify-between">
                      <span class="material-icons hover:bg-gray-200 rounded-lg p-3">
                        card_giftcard
                      </span>
                      <span class="material-icons hover:bg-gray-200 rounded-lg p-3">
                        card_giftcard
                      </span>
                      <span class="material-icons hover:bg-gray-200 rounded-lg p-3">
                        card_giftcard
                      </span>
                    </div>
                  </mat-step>
                  <mat-step label="Mốc 2 - Đạt 200 Điểm" state="gift1">
                    <div class="flex flex-row justify-between">
                      <span class="material-icons hover:bg-gray-200 rounded-lg p-3">
                        card_giftcard
                      </span>
                      <span class="material-icons hover:bg-gray-200 rounded-lg p-3">
                        card_giftcard
                      </span>
                      <span class="material-icons hover:bg-gray-200 rounded-lg p-3">
                        card_giftcard
                      </span>
                    </div>
                  </mat-step>
                  <mat-step label="Mốc 3 - Đạt 300 Điểm" state="gift1">
                    <div class="flex flex-row justify-between">
                      <span class="material-icons hover:bg-gray-200 rounded-lg p-3">
                        card_giftcard
                      </span>
                      <span class="material-icons hover:bg-gray-200 rounded-lg p-3">
                        card_giftcard
                      </span>
                      <span class="material-icons hover:bg-gray-200 rounded-lg p-3">
                        card_giftcard
                      </span>
                    </div>
                  </mat-step>
                </mat-stepper>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</mat-drawer-container>
