<div class="lg:mt-10 mt-0 pb-5" style="background-color: #f4fafe;">
    <div class="container mx-auto pt-20">
        <h3 data-aos="fade-up" data-aos-duration="2000" class="text-center font-bold text-3xl pt-10 uppercase">
            Am hiểu sâu sắc làn da phụ nữ Việt
        </h3>
        <div class="flex pt-10">
            <div class="w-1/2 lg:translate-y-[15%]">
                <p data-aos="fade-up" data-aos-duration="3000" class="pt-2 w-[95%] text-justify">
                    Từ sâu bên trong làn da cần được quan tâm và chăm sóc một cách riêng biệt.
                    Như ánh nắng mỗi nơi một vẻ, như nguồn nước mỗi vùng một dòng chảy riêng.
                    Chúng tôi tin rằng việc thấu hiểu cấu trúc và đặc tính của làn da một cách rõ
                    nét mới có thể cung cấp một giải pháp chăm sóc phù hợp. Sự phù hợp ấy đến từ việc:
                    <br>
                    <br>
                    - Hiểu đúng về cấu tạo và đặc tính làn da người Việt vốn dĩ rất riêng biệt.
                    <br>
                    <br>
                    - Lựa chọn đúng nguyên liệu kết hợp cùng công nghệ hàng đầu. Kết tinh trong sản
                    phẩm mang đến “cái chạm” với làn da khách hàng.
                    <br>
                    <br>
                    - Sử dụng đúng các dây chuyền sản xuất tiên tiến được kiểm nghiệm khắt khe cùng
                    đội ngũ chuyên gia là các y - bác sĩ hàng đầu để ngưng đọng trong mỗi hợp chất là
                    sự hài hòa của yếu tố công nghệ quốc tế / thế giới và trái tim người Việt.
                </p>
            </div>
            <div class="w-1/2 space-y-3 ml-5" data-aos="fade-up" data-aos-duration="1000">
                <img class="w-full h-full" src="/assets/vehderma/hinh3.png" alt="">
            </div>
        </div>
    </div>
    <!--<div class="container mobile relative">
        <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow02-mo-bg.jpg" alt="w-full h-full">
        <div class="absolute top-20 w-full h-auto">
            <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow_logo.png" alt="" class="mx-auto">
            <h3 class="text-center font-bold lg:text-4xl mt-5">LÀM ĐẸP &amp; CUỘC SỐNG</h3>
        </div>
        <div class="absolute content mx-3">
            <img src="https://www.laneige.com.vn/media/wysiwyg/laneige/brandstory/glow02-quote.png" alt="" class="">
            <h4 class="text-xl font-bold tracking-wide">
                Laneige đã nghiên cứu về tình trạng da và phong cách sống của khách hàng trong vòng 24h suốt 7 ngày.
            </h4>
            <p class="pt-5">
                Bắt nguồn từ nghiên cứu dựa trên khoa học về cơ chế dưỡng ẩm của da, LANEIGE phân tích quá trình các yếu tố môi trường từ lối sống 24/7 ngày nay tác động lên làn da của chúng ta, từ trong ra ngoài.
            </p>
        </div>
    </div>-->
</div>
