<section class="h-full gradient-form bg-gray-200 md:h-screen">
  <div class="container py-12 px-6 h-full m-auto">
    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
      <div class="rounded-lg xl:w-6/12 w-full bg-white">
            <div class="lg:w-full px-4 md:p-6">
                <div class="m-auto p-4" routerLink="/">
                  <img class="mx-auto w-48"
                  src="/assets/image/logo.png"
                    alt="logo" />
                </div>
                <form class="flex flex-col space-y-2 max-w-[400px] m-auto">
                  <mat-form-field appearance="outline">
                    <mat-label>Tên Đăng Nhập</mat-label>
                    <input matInput placeholder="Tên Đăng Nhập" [(ngModel)]="User.SDT"
                      [ngModelOptions]="{standalone: true}">
                    <mat-icon matPrefix class="mr-4"><span class="material-icons">
                        account_circle
                      </span></mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Mật Khẩu</mat-label>
                    <input matInput type="password" placeholder="Mật Khẩu" [(ngModel)]="User.password"
                      [ngModelOptions]="{standalone: true}">
                    <mat-icon matPrefix class="mr-4"><span class="material-icons">
                        vpn_key
                      </span></mat-icon>
                  </mat-form-field>
                  <!-- <div> <a class="text-[#3154A1] font-bold" [routerLink]="['/quenmatkhau']">Quên Mật Khẩu ?</a></div> -->
                  <div class="text-center pt-1 mb-12 pb-1">
                    <button mat-raised-button color="primary" (click)="Dangnhap(User)">Đăng Nhập</button>
                  </div>
                  <!-- <div class="flex items-center m-auto pb-6">
                    <span class="mb-0 mr-2">Chưa Có Tài Khoản?</span> <span class="text-[#3154A1] font-bold"
                      [routerLink]="['/dangky']" routerLinkActive="router-link-active">Đăng Ký</span>
                  </div> -->
                </form>
            </div>
      </div>
    </div>
  </div>
</section>
