<button mat-icon-button [matMenuTriggerFor]="menu"><span class="material-icons">notifications</span></button>
<mat-menu class="!max-h-[316px] !max-w-[480px] p-2" #menu="matMenu" xPosition="before">
<div class="flex flex-col space-y-3">
    <div class="flex flex-row flex-wrap justify-between border-b-2">
    <div>Thông Báo</div>
    <div [routerLink]="['/notifications']" routerLinkActive="bg-slate-200"><span class="material-icons">settings</span></div>
 </div>
 <div class="flex flex-row" *ngFor="let item of notify" [routerLink]="[item.Link]" routerLinkActive="bg-slate-200">
        <div class="p-2 rounded-full">
           <img src="/assets/image/logo.png" class="w-14 h-14 border rounded-full p-2 font-bold">
        </div>
       <div class="flex flex-col">
        <div class="line-clamp-2">
            {{item.Message}}
        </div>
        <div class="text-xs text-blue-500 font-bold">{{getTime(item.Ngaytao)}}</div>
     </div>
 </div>
</div>
</mat-menu>