<div class="overflow-hidden blog">
    <div class="lg:w-[1220px] px-4 lg:px-0 mx-auto my-10 space-y-10">
        <div class=" flex items-center space-x-1 text-[#999999]">
            <a class="text-sm uppercase font-gb" routerLink="/bai-viet">BLOG</a><span>/</span>
            <a class="text-sm uppercase font-gb" routerLink="/bai-viet/danh-muc">TẤT CẢ BÀI VIẾT</a>
        </div>
        <div class="grid lg:grid-cols-3 grid-cols-1 gap-10">
            <div class="space-y-3 blog-item cursor-pointer" *ngFor="let item of courses" routerLink="/bai-viet/{{item.Slug}}">
                <div class="w-full overflow-hidden rounded-xl ">
                    <img src="https://drive.google.com/uc?id={{item.Image}}" alt="">
                </div>
                <div class="flex items-center pt-2">
                    <h3 class="text-xl">Làm đẹp | <span>{{item.CreateAt | date}}</span>
                    </h3>
                </div>
                <div>
                    <div class="tieude !text-black font-gb underline-title text-justify three-dot w-full" [innerHTML]="item.Title">
                    </div>
                </div>
                <p class="text-justify lg:text-base text-sm one-dot" [innerHTML]="item.Mota">
                </p>
                <div class="lg:hidden block">
                    <a class="text-sm underline">Đọc thêm</a>
                </div>
            </div>
        </div>
        <div class="">
            <ul class="flex items-center justify-center space-x-3">
                <li
                (click)="paginateNumber(indexPaginate -1 )"
                class="border-2 border-[#DCAF26] font-bold text-blue-800 bg-white rounded-full w-10 h-10 flex items-center justify-center flex-col hover:bg-[#DCAF26] hover:text-white cursor-pointer">
                <span class="material-icons">
                    chevron_left
                </span></li>
                <li
                *ngFor="let item of arr; let i = index" (click)="paginateNumber(i)"
                    class="border-2 border-[#DCAF26] font-bold  rounded-full w-10 h-10 flex items-center justify-center flex-col   cursor-pointer
                    {{
                        indexPaginate === i ? 'bg-[#DCAF26] text-white' :'bg-white text-blue-800'
                    }}
                    ">
                    {{i+1}}</li>
            
                <li
                (click)="paginateNumber(indexPaginate +1 )"

                    class="border-2 border-[#DCAF26] font-bold text-blue-800 bg-white rounded-full w-10 h-10 flex items-center justify-center flex-col hover:bg-[#DCAF26] hover:text-white cursor-pointer">
                    <span class="material-icons">
                        navigate_next
                    </span></li>
            </ul>
        </div>
    </div>
    <!--<div class="relative mt-10 py-10 bg-[#FAF4EB] carouesl-blog cursor-pointer carouesl-blog">
        <swiper [config]="configBlog" [navigation]="true" [pagination]="{ clickable: true }" class="mySwiper  !pb-10">
            <ng-template swiperSlide *ngFor="let item of [1,2,3,4]">
                <div data-v-a8463eba="" data-v-e4caeaf8=""
                    class="py-7 lg:py-9 w-full flex flex-col justify-center items-center"><a data-v-a8463eba=""
                        data-v-e4caeaf8=""
                        href="https://www.elle.vn/tin-lam-dep/cocoon-vietnam-tai-elle-beauty-awards-2021"
                        target="_blank" rel="noopener noreferrer" class="
                    quote
                    px-2
                    font-gb
                    italic
                    text-2xl
                    lg:w-[52rem]
                    text-[#CCB48E]
                    leading leading-7
                    lg:text-4xl lg:leading-tight
                    text-secondary-light1 text-center
                  ">
                        “Cocoon Vietnam – Từ mầm xanh làm đẹp đến giải thưởng danh giá tại ELLE Beauty Awards
                        2021”
                    </a>
                    <p data-v-a8463eba="" data-v-e4caeaf8="" class="
                    mt-1.5
                    lg:mt-4
                    font-barlow-condensed font-bold
                    uppercase
                    text-base
                    lg:text-xl
                    leading-none
                    !text-black
                    tracking-widest
                    text-typo-heading
                  ">
                        elle vietnam
                    </p>
                </div>
            </ng-template>
        </swiper>
        <div class="absolute left-2 z-10 top-1/2 centerY-img">
            <span class="material-icons p-1 rounded-full text-4xl cursor-pointer icon-prev" (click)="swipePrev()">
                chevron_left
            </span>
        </div>
        <div class="absolute right-2 z-10 top-1/2 centerY-img">
            <span class="material-icons p-1 rounded-full text-4xl cursor-pointer icon-next" (click)="swipeNext()">
                chevron_right
            </span>
        </div>
    </div>-->
</div>