<div class="lg:max-w-7xl lg:mx-auto lg:px-5 md:px-10 py-10 md:mt-10 px-3">
  <!-- <p class="text-gray-500">Have a coupon? Click here to enter your code</p> -->

  <div class="flex lg:flex-row flex-col pt-10">
    <div class="lg:w-1/2 w-full lg:pr-10">
      <div class="flex md:flex-row flex-col w-full bg-gray-200 rounded-xl p-5">
        <div class="md:w-1/2 w-full mr-2">
          <p class="text-2xl font-bold">Thanh toán</p>

          <form class="pt-7" [formGroup]="khachhangForm">
            <div class="flex flex-col">
              <label class="text-gray-400">Họ và tên *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="text"
                [formControlName]="'Hoten'"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Số điện thoại *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="text"
                [formControlName]="'SDT'"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Email *</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="email"
                [formControlName]="'Email'"
              />
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Thành phố/Tỉnh</label>

             <mat-select [(value)]="TenTP" placeholder="Thành phố" (selectionChange)="getCodeTp($event)" class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl">
              <mat-option [value]="item.name" *ngFor="let item of diachi">{{item.name}}</mat-option>
             </mat-select>
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Quận/Huyện</label>

             <mat-select [(value)]="TenQuanHuyen" placeholder="Quận Huyện" class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl">
              <mat-option [value]="item.name" *ngFor="let item of diachichitiet">{{item.name}}</mat-option>
             </mat-select>
            </div>
            <div class="flex flex-col pt-3">
              <label class="text-gray-400">Tên đường và số nhà</label>
              <input
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl"
                type="text"
                [formControlName]="'Diachi'"
              />
            </div>
          </form>
        </div>
        <div class="md:w-1/2 w-full ml-2 pt-5 md:pt-0">
          <p class="text-2xl font-bold">Thông tin thêm</p>
          <form class="pt-7" [formGroup]="khachhangForm">
            <div class="flex flex-col">
              <label class="text-gray-400">Ghi chú</label>
              <textarea
                class="p-2 mt-1 text-purple-500 bg-white focus:border-blue-500 border rounded-xl h-28"
                type="text"
                placeholder="Ghi chú"
                [formControlName]="'Ghichu'"
              ></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 w-full pt-7 lg:pt-0">
      <p class="text-2xl text-purple-500 font-bold">Sản phẩm đã đặt</p>

      <div class="pt-5">
        <table class="w-full">
          <thead>
            <tr class="text-left">
              <th class="text-purple-500 font-bold pl-2">Sản phẩm</th>
              <th class="text-purple-500 font-bold pr-2">Giá tiền</th>
            </tr>
          </thead>
          <tbody class="border border-gray-200 rounded-xl">
            <tr
              class="border-b border-gray-200 px-2"
              *ngFor="let item of carts"
            >
              <td class="py-2 px-2 text-gray-500">
                {{ item.Tieude }} |
                {{ item.cartNum ? "Số lượng: " + item.cartNum : "" }}
              </td>
              <td class="py-2 px-2">
                {{ item.GiaSale * item.cartNum | currency: "VND" }}
              </td>
            </tr>
            <tr class="border-b border-gray-200 px-2">
              <td class="py-2 px-2 text-purple-500 font-bold">Tiền ship</td>
              <td class="py-2 px-2">{{ phiship | currency: "VND" }}</td>
            </tr>
            <tr class="border-b border-gray-200 px-2">
              <td class="py-2 px-2 text-purple-500 font-bold">Tổng cộng</td>
              <td class="py-2 px-2">{{ amount | currency: "VND" }}</td>
            </tr>
            <!-- <tr class="border-b border-gray-200 px-2">
              <td class="py-2 px-2 text-purple-500 font-bold">Total</td>
              <td class="py-2 px-2">{{ amount | currency: "VND" }}</td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <!-- <div class="pt-10 checkout">
        <div class="border border-gray-400 rounded-xl">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel hideToggle class="border-b border-gray-400">
              <mat-expansion-panel-header>
                <mat-panel-title class="flex items-center">
                  <mat-radio-button class="example-margin" value="after"
                    >Personal data</mat-radio-button
                  >
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="px-3 bg-gray-200 text-blue-500 text-sm rounded-xl">
                Đơn hàng từ 999K trở lên sẽ được miễn phí vẫn chuyển, còn lại Hồ Chí Minh: 30k, tỉnh 40k
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle class="border-b border-gray-400">
              <mat-expansion-panel-header>
                <mat-panel-title class="flex items-center">
                  <mat-radio-button class="example-margin" value="after"
                    >Check payments</mat-radio-button
                  >
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="px-3 bg-gray-200 text-blue-500 text-sm rounded-xl">
                Please send a check to Store Name, Store Street, Store Town,
                Store State / County, Store Postcode.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle class="border-b border-gray-400">
              <mat-expansion-panel-header>
                <mat-panel-title class="flex items-center">
                  <mat-radio-button class="example-margin" value="after"
                    >Cash on delivery</mat-radio-button
                  >
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="px-3 bg-gray-200">Pay with cash upon delivery.</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div> -->
      <div class="pt-10">
        <p class="text-gray-500">
          Đơn hàng từ 999K trở lên sẽ được miễn phí vận chuyển, còn lại Hồ Chí Minh: 30k, tỉnh 40k 
          <!-- <a href="#" class="text-purple-500">privacy policy.</a> -->
        </p>
        <div
          class="mt-5 w-28 bg-orange-500 hover:bg-purple-500 text-white font-bold py-2 rounded-2xl text-center"
          (click)="datHang()"
        >
          Đặt hàng
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-10">
  <div
  class="w-full md:h-56 sm:h-72 bg-gray-200 relative flex flex-col items-center justify-center"
>
  <div
    class="flex flex-col h-full items-center justify-center sm:mx-3 md:mx-0"
  >
    <p class="lg:text-4xl font-bold text-purple-500 uppercase">
      Bảng tin khuyến mãi
    </p>
    <p class="text-purple-500 lg:pt-3 sm:text-center">
      Đăng ký email của bạn để nhận mã giảm giá thường xuyên tại Kenny US
      Store
    </p>
    <div
      class="flex sm:flex-col md:flex-row md:w-4/5 sm:w-full lg:h-12 h-10 mt-5 sm:mb-12 md:mb-0"
    >
      <input
        class="px-5 sm:py-3 md:py-0 flex flex-col items-center justify-center bg-white w-full lg:h-12 h-10 md:rounded-l-3xl sm:rounded-3xl md:rounded-none"
        placeholder="Email Đăng ký"
      />
      <button
        class="px-8 sm:py-3 md:py-0 sm:mt-3 md:mt-0 md:rounded-r-3xl h-full text-white bg-orange-500 flex items-center justify-center sm:rounded-3xl md:rounded-none"
      >
        <span class="material-icons text-white mr-2 text-lg"> send </span>
        <span class="w-16"> Đăng ký</span>
      </button>
    </div>
  </div>
</div>
</div>